{% extends 'base.html' %}

{% block content %}
    <h1>{{ advertisement.title }}</h1>
    <p>Категория: {{ advertisement.category }}</p>
    <p class="date">Опубликовано {{ advertisement.created_at }} автор {{ advertisement.author }}
    <p>Последнее обновление: {{ advertisement.updated_at }}</p>
    <div>{{ advertisement.content|safe }}</div>

    {% if user.is_authenticated and user != advertisement.author %}
    <h2>Оставить отклик</h2>
    <form method="post" action="{% url 'create_response' advertisement.id %}">
        {% csrf_token %}
        {{ response_form.as_p }}
        <button type="submit">Отправить отклик</button>
    </form>
{% endif %}
{% endblock %}