{% extends 'base.html' %}

{% block content %}
    <h1>Объявления</h1>
    {% for ad in advertisements %}
        <h3><a href="{% url 'advertisement_detail' ad.pk %}">{{ ad.title }}</a></h3>
        <p class="date">Опубликовано {{ ad.created_at }} автор {{ ad.author }}</p>
        {{ ad.content|truncatewords:30|linebreaks }}
        <div>
            {% if ad.image %}
                <img src="{{ ad.image.url }}" alt="{{ ad.title }}" class="ad-image">
            {% endif %}
        </div>
        {% if ad.video_url %}
            <div class="video-container">
                <iframe width="560" height="315" src="{{ ad.video_url }}"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        {% endif %}
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}