{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задание D16</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav>
        <div>
            <a href="{% url 'advertisement_list' %}">Главная</a>
            {% if user.is_authenticated %}
                <a href="{% url 'advertisement_create' %}">Создать объявление</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'my_responses' %}">Мои отклики</a>
                {% endif %}
            {% endif %}
        </div>
        <div>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}">Админ-панель</a>
                {% endif %}
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">
                        Выйти
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="login-button">Войти</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>Skillfactory D16</p>
</footer>
</body>
</html>